.anishKumarSinha {
  position: absolute;
  top: 61px;
  left: 167px;
  font-size: var(--font-size-6xl);
  display: inline-block;
  width: 268px;
  height: 29px;
}
.groupIcon,
.homeDarkChild,
.homeDarkChild1,
.homeDarkInner,
.homeDarkItem {
  position: absolute;
  height: 3.7%;
  width: 1.82%;
  top: 5.46%;
  right: 92.34%;
  bottom: 90.83%;
  left: 5.83%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.groupIcon,
.homeDarkChild1,
.homeDarkInner,
.homeDarkItem {
  height: 3.24%;
  top: 82.03%;
  right: 92.29%;
  bottom: 14.73%;
  left: 5.89%;
}
.groupIcon,
.homeDarkChild1,
.homeDarkInner {
  height: 3.13%;
  width: 1.76%;
  top: 59.72%;
  right: 92.35%;
  bottom: 37.15%;
}
.groupIcon,
.homeDarkChild1 {
  top: 64.26%;
  bottom: 32.61%;
}
.homeDarkChild1 {
  top: 68.8%;
  right: 92.41%;
  bottom: 28.07%;
  left: 5.83%;
}
.homeDarkChild2,
.homeDarkChild3 {
  position: absolute;
  top: 791.9px;
  left: 115px;
  width: 30px;
  height: 30px;
}
.homeDarkChild3 {
  height: 3.13%;
  width: 1.76%;
  top: 77.5%;
  right: 92.35%;
  bottom: 19.37%;
  left: 5.89%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.outputOnlinepngtools1Icon {
  position: absolute;
  top: 933px;
  left: 120px;
  width: 20px;
  height: 36.9px;
  object-fit: cover;
}
.ellipseDiv {
  position: absolute;
  top: 934px;
  left: 113px;
  border-radius: 50%;
  border: 2px solid var(--color-white);
  box-sizing: border-box;
  width: 34px;
  height: 34px;
}
.sinhaanishkumaroutlookcom {
  position: absolute;
  top: 970px;
  left: 1783px;
  font-size: var(--font-size-mini);
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 216px;
  height: 19px;
  transform: rotate(-90deg);
  transform-origin: 0 0;
}
.lineIcon {
  position: absolute;
  top: 1020px;
  left: 1778px;
  width: 30px;
  height: 0.7px;
  object-fit: contain;
}
.homeDarkChild4 {
  position: absolute;
  top: 59px;
  left: 1779px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.im {
  font-weight: 600;
}
.anish {
  color: var(--color-dimgray);
}
.imAnish,
.text {
  position: absolute;
  top: 382px;
  left: 269px;
  font-size: var(--font-size-45xl);
  display: inline-block;
  width: 288px;
  height: 81px;
}
.text {
  top: 459px;
  left: 588px;
  color: var(--color-black);
  white-space: pre-wrap;
}
.uiuxDesignerFrontEnd {
  margin: 0;
}
.uiuxDesignerFrontEndContainer {
  position: absolute;
  top: 470px;
  left: 269px;
  font-size: var(--font-size-11xl);
  font-weight: 300;
  display: inline-block;
  width: 624px;
  height: 77px;
}
.homeDarkChild5 {
  position: absolute;
  top: 462px;
  left: 379px;
  width: 167px;
  height: 3px;
  object-fit: contain;
}
.emojiIcon {
  position: absolute;
  height: 4.63%;
  width: 2.6%;
  top: 37.13%;
  right: 68.44%;
  bottom: 58.24%;
  left: 28.96%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.about,
.contact,
.home,
.projects,
.resume,
.skills {
  position: absolute;
  top: 65px;
  font-weight: 600;
  display: inline-block;
  width: 57px;
  height: 29px;
}
.about {
  left: 1150px;
  cursor: pointer;
}
.contact,
.home,
.projects,
.resume,
.skills {
  left: 1039px;
}
.contact,
.projects,
.resume,
.skills {
  left: 1261px;
  width: 75px;
}
.contact,
.projects,
.skills {
  left: 1492px;
  width: 78px;
}
.contact,
.skills {
  left: 1390px;
  width: 48px;
}
.contact {
  left: 1624px;
  width: 73px;
}
.groupChild {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.download12 {
  position: absolute;
  top: 61px;
  left: 59px;
  border-radius: var(--br-151xl) var(--br-281xl) var(--br-281xl) var(--br-781xl);
  width: 500px;
  height: 575.3px;
  object-fit: cover;
}
.vectorParent {
  position: absolute;
  height: 65.96%;
  width: 37.47%;
  top: 17.78%;
  right: 4.41%;
  bottom: 16.26%;
  left: 58.13%;
}
.groupItem {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  width: 175px;
  height: 60px;
}
.downloadCv {
  position: absolute;
  top: 17px;
  left: 20px;
  font-weight: 900;
  display: inline-block;
  width: 136px;
  height: 29px;
}
.vectorContainer,
.vectorGroup {
  position: absolute;
  top: 649px;
  left: 269px;
  width: 175px;
  height: 60px;
  color: var(--color-gray-100);
}
.vectorContainer {
  left: 469px;
}
.rectangleDiv {
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 15px 50px rgba(153, 153, 153, 0.25);
  border-radius: var(--br-31xl) var(--br-31xl) var(--br-31xl) 0;
  background: linear-gradient(90deg, #32f6f6, #a6a79f);
  width: 197px;
  height: 72px;
}
.hello {
  position: absolute;
  top: 14px;
  left: 43px;
  display: inline-block;
  width: 111px;
  height: 44px;
}
.rectangleParent {
  position: absolute;
  top: 300px;
  left: 269px;
  width: 197px;
  height: 72px;
  font-size: var(--font-size-17xl);
}
.homeDark {
  width: 1920px;
  background-color: var(--color-gray-200);
  max-width: 100%;
  height: 1080px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-segoe-ui);
}
